
<h1>Get in Touch</h1>
<div class="text-center">
  <img src="../../assets/images/contactus.jpg" alt="contact us">
</div>
<div class="row">
  <div class="col-sm">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <pre>
      <a href="mailto:arthi.meganathan@aspiresys.com">info@e-commics.com</a>
    </pre>
  </div>
  <div class="col-sm">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <pre>
E-Commics Building,
No.31, West Street,
XYZ City,
Chennai-60000024.
    </pre>
  </div>
  <div class="col-sm">
    <i class="fa fa-phone-square" aria-hidden="true"></i>
    <pre>
For any Program or Sales related queries: 
      +91 80878 02552

For any other queries:  
      020 2970 4480, +91 77760 14900
    </pre>
  </div>
</div>