
<div>
  <h1>About Us</h1>
  <img src="../../assets/images/aboutus.jpg" alt="">
  <p>Our powerful technology allows everyone to get online with a personalized, professional web presence. Whether it’s your first time creating or you’re a long time expert, you’ll find the features and solutions you need to build a professional website with total creative freedom.
     Our global user base, open SDK, and unparalleled design capabilities create a unique ecosystem. Partners, developers, web designers, and other online professionals can effectively market their apps and services to millions through Wix.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
