.sect1 {  
    height: 650 px;  
    color: #fff;
    background-image: url("../../../../../assets/images/back-pO-ZKYso7-transformed.jpeg");  
    background-size: 100%;  
    background-size: cover;
    padding-left: 250px;
}
.form-label{
    color: black;
}
h3{
    color: black;
}
