<section style="background-color: #d88abd;" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Book Details</h3>
            <form [formGroup]="formValue" (ngSubmit)="postBookDetails()">
              <div class="form-outline mb-4">
                <label class="form-label" for="image">Book image Url</label>
                <input type="text" id="image" formControlName="coverpage" class="form-control form-control-lg" />
              </div>
              <div *ngIf="formValue.controls['coverpage'].invalid && (formValue.controls['coverpage'].dirty || formValue.controls['coverpage'].touched)" class="alert alert-danger">
                <div *ngIf="formValue.controls['coverpage'].errors?.['required']">
                  This field is required.
                </div>
              </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="bookname">Book mane</label>
              <input type="text" id="bookname" formControlName="bookname" class="form-control form-control-lg" />
            </div>
            <div *ngIf="formValue.controls['bookname'].invalid && (formValue.controls['bookname'].dirty || formValue.controls['bookname'].touched)" class="alert alert-danger">
              <div *ngIf="formValue.controls['bookname'].errors?.['required']">
                This field is required.
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="author">Author</label>
              <input #pass type="text" id="author" formControlName="author" class="form-control form-control-lg" />
            </div>
            <div *ngIf="formValue.controls['author'].invalid && (formValue.controls['author'].dirty || formValue.controls['author'].touched)" class="alert alert-danger">
              <div *ngIf="formValue.controls['author'].errors?.['required']">
                This field is required.
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="price">Price</label>
              <input #cpass type="number" formControlName="price" id="price" class="form-control form-control-lg" />
            </div>
            <div *ngIf="formValue.controls['price'].invalid && (formValue.controls['price'].dirty || formValue.controls['price'].touched)" class="alert alert-danger">
              <div *ngIf="formValue.controls['price'].errors?.['required']">
                This field is required.
              </div>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="about">About</label>
              <input #cpass type="text" formControlName="about" id="about" class="form-control form-control-lg" />
            </div>
            <div *ngIf="formValue.controls['about'].invalid && (formValue.controls['about'].dirty || formValue.controls['about'].touched)" class="alert alert-danger">
              <div *ngIf="formValue.controls['about'].errors?.['required']">
                This field is required.
              </div>
            </div>
            

            <!-- Checkbox -->

            <button id="redirect" class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!formValue.valid">Add Book</button>
          
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>