
 <div class="sidenav">
  <a href="#">Home</a>
  <a href="#UserDetails">User Details</a>
  <a href="#bookdetails">Book Details</a>
  <a (click)="logout()">Logout</a>
</div>

<div class="main">
  <h2>Welcome Admin!</h2>
  <p>Have a Great day with your bussiness</p>
  <section id="bookdetails">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Book Name</th>
          <th scope="col">Author Name</th>
          <th scope="col">Cover bage</th>
          <th scope="col">Price</th>
          <th scope="col">About Book</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th>{{book.id}}</th>
          <td><img src={{book.img}} alt={{book.name}}></td>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.price}}</td>
          <td>{{book.about}}</td>
          <td>action</td>
        </tr>
      </tbody>
    </table>
  </section>
  <div>
    <h2>User info</h2>
    <ul>
      <li *ngFor="let user of users">{{user|json}}</li>
    </ul>
   </div>
  <section id="UserDetails">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
        </tr>
      </thead>
    </table>
  </section>
</div>