  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  img{
    width: 400px;
    height: 500px;
  }
  .input-group{
    display: flex;
    justify-content:right;
    margin-top: 50px;
    padding-right: 100px;
}